In [2]:
import pandas as pd
import string

In [5]:
# Example: replace with your real data
df = pd.read_csv("company_financial_data.csv")
df.head()

     Company Financial_Term  Year   Value
0  Microsoft  Total_Revenue  2025  281784
1  Microsoft  Total_Revenue  2024  245122
2  Microsoft  Total_Revenue  2023  211915
3  Microsoft  Total_Revenue  2022       0
4  Microsoft     Net_Income  2025  101832

In [6]:
#showing the columns present in the dataset
print(df.columns)

Index(['Company', 'Financial_Term', 'Year', 'Value'], dtype='object')

In [8]:
# Convert from long to wide format
df_wide = df.pivot(index=['Company', 'Year'], columns='Financial_Term', values='Value').reset_index()

# Now you can access the columns directly
total_revenue = df_wide['Total_Revenue'].sum()
total_net_income = df_wide['Net_Income'].sum()
avg_revenue = df_wide['Total_Revenue'].mean()

# Net income change (last year - previous year)
df_wide_sorted = df_wide.sort_values('Year')
net_income_change = df_wide_sorted['Net_Income'].iloc[-1] - df_wide_sorted['Net_Income'].iloc[-2]

# Company with highest revenue
highest_revenue_company = df_wide.groupby('Company')['Total_Revenue'].sum().idxmax()

In [ ]:
def simple_chatbot(user_query):

    # Normalize input
    text = user_query.lower().strip()
    text = text.translate(str.maketrans('', '', string.punctuation))

    if text == "what is the total revenue":
        return f"The total revenue is {total_revenue:,.2f}."

    elif text == "what is the total net income":
        return f"The total net income is {total_net_income:,.2f}."

    elif text == "what is the average revenue":
        return f"The average revenue is {avg_revenue:,.2f}."

    elif text == "how has net income changed over the last year":
        direction = "increased" if net_income_change > 0 else "decreased"
        return f"Net income has {direction} by {abs(net_income_change):,.2f} over the last year."

    elif text == "which company has the highest revenue":
        return f"The company with the highest total revenue is {highest_revenue_company}."

    else:
        return "Sorry, I can only answer predefined financial queries."


# Run chatbot
print("Financial Query Bot activated! Type 'help' for options or 'quit' to exit.\n")

while True:
    user_input = input("Ask a financial question: ").strip()
    
    if user_input.lower() in ['quit', 'exit', 'bye', 'stop']:
        print("Thank you for using Financial Query Bot. Goodbye!")
        break
    elif user_input.lower() == 'help':
        print("\nAvailable commands:")
        print("- Ask any financial question about the data")
        print("- Type 'quit', 'exit', or 'bye' to end the session")
        print("- Type 'help' to see this message again\n")
        continue
    elif user_input == '':
        print("Please enter a question or type 'quit' to exit.")
        continue
    
    print(simple_chatbot(user_input))
    print()  # Add empty line for better readability

The company with the highest total revenue is Apple.
Sorry, I can only answer predefined financial queries.
Net income has decreased by 101,832.00 over the last year.
Sorry, I can only answer predefined financial queries.
Sorry, I can only answer predefined financial queries.
The average revenue is 183,768.92.
Sorry, I can only answer predefined financial queries.
Sorry, I can only answer predefined financial queries.
Sorry, I can only answer predefined financial queries.
Sorry, I can only answer predefined financial queries.